body {	
	background-image: url('bg.jpg');
    background-repeat: repeat;
    background-position: right top;
    background-attachment: scroll;
	background-size: cover;		
	color: #fff;
}
.form-control {
    border-radius: 0em !important; 
}
button {
    border-radius: 0em !important; 
}
#btn-disconnect {
    margin-right: 1em;
}
p {
	font-weight : 600;
}
.container {
	width: 100%;
    margin: 3em 3em;
}
label {
	display:block;
	margin-bottom:5px;
}
input {
	padding:10px;
	width: 50%;
}
button {
    padding: 0px 10PX!IMPORTANT;
    HEIGHT: 38PX !IMPORTANT;
}
.form-group {
    margin-bottom: 0.2rem;
}
.alert {
    padding: 1px 10px;
	font-size: .8em;
	font-weight: 600;
	font-style: italic;
	color: #393637;
}
h3 {
	margin-top: 1em;
}
h6 {
	margin-top: 1em;
}